*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    border: solid 0px;
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 50px;
    background: linear-gradient(black,white);
    color: white;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.calculator{
    width: 100%;
}
table{
    height: 500px;
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
}
th{
    border: solid 1px black;
    height: 50px;
    width: 50px;
    box-shadow: 2px 2px 12px black;
    border-radius: 10px;
    font-size: 25px;
}
.calculator input{
    width: 99%;
    height: 100%;
    border: 0px;
    font-size: 25px;
    text-align: right;
    border-radius: 10px;
    font-weight: bolder;
}
.calculator input::placeholder{
    text-align: center;
}
.inputField{
    height: 50px;
}